* {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    cursor: none;
    font-family: Helvetica;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.pressToStart {
    align-items: center;
    display: flex;
    font-size: 15vw;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.anvil {
    left: 42.5%;
    position: absolute;
    top: 0%;
    transition: 3s linear;
    width: 15%;
}